body {
    background-color: pink;
}

.divcenter{
    position:absolute;
    text-align:center;
    top: 30%;
    right: 50%;
    transform: translate(50%, -50%);
}

.buttonscenter{
    width:420px;
    height:220px;
    position:relative;
    text-align:center;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap:10px;
    margin:auto;
}

.imagecenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

h1 {
    font-family: "Arial";
    font-size: 28px;
    text-align: center;
}
    
p {
    font-family: "Arial";
    display:inline;
    font-size:3vh;
    margin-bottom:-1;
    text-align:left;
}
    



h3{
    font-family: "Arial";
    display:inline;
    font-size:3vh;
    margin-bottom:-1;
    font-weight:normal;
}

.solvebutt{
    height:80px;
    width:80px;
    border-radius:10px;
    border-width: 10px;
    background-color: white;
}
.solvebutt:hover{
    height:80px;
    width:80px;
    border-radius:10px;
    border-width: 10px;
    background-color: grey;
    transition:.3s;
}

.calcgrid{
    display:grid;
    grid-template-columns: 40vw 30vw;
    grid-template-rows:10vh 10vh 10vh 20vh;
    grid-template-areas: 
        "describe inputtype"
        "describe1 inputtype1"
        "describe2 inputtype2"
        "outcome outcome"
}

.outcomegrid{
    display:grid;
    grid-template-columns: 40vw 20vw 10vw;
    grid-template-rows: 40px 40px 40px 40px;
    grid-template-areas:
    "equals flour outf"
    "equals water outw"
    "equals salt outsa"
    "equals starter outst"
}

h2{
    margin-right: 0px;
    text-align: left;
    font-family: "Arial";
    min-width: 260px;
    margin-top: 0px;
    font-size:3vh;
}

p {
    font-family: "Arial";
    display:inline;
    font-size:3vh;
    margin-bottom:-1;
    text-align:left;
}
@media only screen and (max-width: 767px) {
    h2{
        margin-right: 0px;
        text-align: left;
        font-family: "Arial";
        min-width: 260px;
        margin-top: 0px;
        font-size:2vh;
    }
    p {
        font-family: "Arial";
        display:inline;
        font-size:2vh;
        margin-bottom:-1;
        text-align:left;
    }
}

